html, body {position: relative;}
#wrapper {width:100%;height:100%;position: fixed;overflow: hidden;border:1px solid red;}
.slide {position: absolute; width:100%;height:100%;display:none;opacity:0;}

#game{background:#0055ee;}
#intro{background:#FF8898;}