#wrapper {
    width:1420px; /* Pour la taille du rectangle il nous faut la largeur de celui ci */
    height:1500px;/* Et la hauteur */
    margin:40px auto; /* Pour créer une marge*/
    background:#522B72; /* Pour définir la couleur de l'arrière plan*/
}

nav a{color:#999900;}
body{position:absolute;height:100%;width:100%;}
#container {width:50%;height: 50%;position:absolute;background:#0055ee;}
#orange {width:50%;height: 50%;position:absolute;background:#ee9900;left: 25%;top:25%;}
#red {width:50%;height: 50%;position:absolute;background:#ff0000;left: 25%;top:25%;}
.rounded {border-radius:50%;}

#ptitBoulRouge {background: red;width:50px;height:50px;border-radius: 50%;position:absolute;bottom:50px;left:10px; }